body {
  font-family: "SolaimanLipi", serif;
  font-family: "Lora", serif;
  font-size: 16px;
  background: #fff;
  color: #222;
  font-weight: 400;
  overflow-x: hidden;
  letter-spacing: -0.3px;
}

/*  photo resize */
.imgresize {
  position: relative;
}
.imgviewer {
  padding-top: 58%;
  margin: 0;
}
.Fixing-ratio {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* .picture {
  aspect-ratio: 1.7777;
  object-fit: cover;
  object-position: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
} */
.container {
  max-width: 1300px !important;
  padding-right: 10px;
  padding-left: 10px;
}
.container-fluid {
  padding: 0;
  overflow: hidden;
}
.img100 {
  width: 100%;
}
a {
  color: #222;
  text-decoration: none;
}
.BorderTop {
  border-top: 1px solid #ebebeb;
}
.BorderBottom {
  border-bottom: 4px double #ccc;
}
.BorderRight {
  border-right: 1px solid #ebebeb;
}
ul {
  list-style: none;
}
li {
  display: block;
}
.marquee {
  white-space: nowrap;
  overflow: hidden;
  animation: marquee 30s linear infinite;
  position: absolute;
  z-index: -1;
}
.border-Bottom {
  border-bottom: 1px solid #ebebeb;
}
.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 9999;
  transition: 0.2s;
  box-shadow: 0 0 2px 0 #00000051;
  background-color: #fff;
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.img-position {
  position: relative;
  padding: 17px 0 0 0;
}
.img-height img {
  height: 124px;
}
/* header start */

/*  top Area */

.top-area {
  padding: 15px 0;
}
p {
  font-size: 14px;
  color: #222;
  font-weight: 400;
  letter-spacing: -0.3px;
}
.date-time i {
  padding-right: 3px;
  font-size: 12px;
}

/* Top-logo */
.top-logo img {
  width: 360px;
}
/* Top-Social-link */
.social-link ul {
  padding: 0;
  margin: 0;
}
.social-link ul li {
  list-style: none;
  display: inline;
}
.social-link ul li a {
  margin-right: 2px;
}
.social-link ul li a i {
  font-size: 14px;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  border-radius: 50px;
  background: #333;
  color: #fff;
}
.social-link ul li a .fa-facebook-f:hover {
  background: #3b5998;
}
.social-link ul li a .fa-twitter:hover {
  background: #1998c8;
}
.social-link ul li a .fa-youtube:hover {
  background: #ae1e1a;
}
.social-link ul li a .fa-rss:hover {
  background: #eb632d;
}
.bangla-button {
  background: #006c6e;
  color: #fff;
  font-size: 13px;
  font-family: "SolaimanLipi", serif;
  font-weight: bold;
  padding: 6px 7px 4px;
  margin-right: 5px !important;
  border-radius: 3px;
  text-decoration: none;
}
/* navbar */
.headernav .navbar-nav .nav-item .nav-link {
  font-weight: 400;
  color: #000;
  padding: 0.5rem 0.5rem 0.62rem 1rem;
  font-size: 16px;
  font-family: "Barlow", sans-serif;
}

.headernav .navbar-nav .nav-link:hover {
  color: #006c6e;
}

.navbar-expand-lg .navbar-nav .contentCountry {
  margin-right: 87%;
}

.dropdown:hover .contentCountry {
  display: block;
}
.dropdown:hover .contentMore {
  display: block;
  left: 85%;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  background-color: #212529;
  border-radius: 0;
  padding: 0;
}
.navbar-expand-lg .navbar-nav .dropdown-menu a {
  text-decoration: none;
  color: #ccc;
  font-size: 16px;
  font-family: "Barlow", sans-serif;
}
.navbar-expand-lg .navbar-nav .dropdown-menu a:hover {
  color: #000;
}

.dropdown {
  position: static;
}
.search-area {
  display: flex;
  margin-left: 20px;
}
.search-button {
  background-color: #006c6e;
  padding: 5px 12px 8px;
  margin-bottom: 0px;
}
.search-button i {
  color: #fff;
  font-size: 14px;
}
.dropdown-menu {
  position: static;
  top: 100%;
  left: 35%;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  background-color: #fff;
  border: 1px solid #ccc;
}
.dropdown-menu.show .drop-menu {
  background-color: #333;
  color: #fff;
  display: block;
}

/* main section */
.main-top-section {
  width: 1365px;
}
.main-top-section .desc h1 {
  font-size: 23px;
}
/*  lead news */
.desc {
  padding: 2px 0 0;
}
.desc .title {
  font-size: 17px;
  line-height: 1.5;
  font-weight: 600;
}
.main-top-section .text-resize h1 {
  font-size: 22px;
  line-height: 30px;
  font-weight: bold;
}
.desc .title:hover {
  color: #006c6e;
}
.desc .brief-line p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #555;
  font-size: 16px;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  letter-spacing: -0.3px;
  margin-top: 0;
  line-height: 1.5;
}
.brief-line p {
  font-size: 17px;
  line-height: 23px;
  color: #555;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Barlow", sans-serif;
  padding-top: 5px;
}
.poli-para p {
  font-size: 17px;
  line-height: 23px;
  color: #555;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Barlow", sans-serif;
  padding-top: 5px;
}
.opinion-img img {
  border-radius: 50px;
  padding: 0 8px;
}
.opinionlist .title {
  font-size: 15px;
  line-height: 23px;
  -webkit-line-clamp: 2;
  letter-spacing: -0.3px;
  font-weight: 600;
}
.bangladesh-news .desc .brief-line p {
  font-size: 16px;
  line-height: 23px;
  color: #555;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Barlow", sans-serif;
  padding-top: 5px;
}

/* lead news image */
.imgSize {
  position: relative;
}
.innertopimg .desc .title {
  font-family: "Lora", serif;
  margin-bottom: 0;
  font-size: 17px;
  line-height: 1.5;
  letter-spacing: -0.3px;
  font-weight: 600;
}
.innertopimg .desc .brief-line p {
  font-size: 15px;
  line-height: 23px;
  color: #555;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Barlow", sans-serif;
  padding-top: 5px;
}
/* Inner Top 1 section */
.innertop {
  margin-top: 30px;
  padding-top: 0px;
  border-top: 1px solid #ebebeb;
}
.toplistimg {
  height: 115px;
}
.dhakaAirSize {
  border: 0 none;
  box-shadow: none;
  margin: 0 0 0 0;
  padding: 0;
}
/* .imgView {
  width: 260px;
}
.dhakaAir-main-image img {
  height: 550px;
} */
.dhakaAir-main-image {
  position: relative;
}
.dhakaAir-main-image .desc .title h3 {
  font-family: "Lora", serif;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.3px;
  font-weight: 600;
  color: #fff;
}

.dhakaAirSize .imgviewer {
  padding-top: 150%;
  margin: 0;
}
.dhakaAirSize .imgviewer::after {
  background-image: linear-gradient(180deg, transparent, transparent 50%, #000);
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.dhakaAirSize img {
  height: 395px;
}
.dhakaAirSize .desc .title {
  font-size: 18px;
  line-height: 26px;
  color: #fff;
}
.dhakaAirSize .desc {
  width: 100%;
  bottom: 0;
  position: absolute;
  z-index: 10;
  padding: 0px 15px 10px;
}
.caption {
  background-color: #1c1c1cd6;
  color: #fff;
  padding: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
.caption .title {
  color: #fff;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}
/* inner top 2 section */
.toplist1 .desc .title {
  font-family: "Lora", serif;
  margin-bottom: 0;
  font-size: 17px;
  line-height: 1.5;
  letter-spacing: -0.3px;
  font-weight: 600;
}
.toplist1 .desc .brief-line p {
  font-size: 15px;
  line-height: 23px;
  color: #555;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Barlow", sans-serif;
  padding-top: 5px;
}
.innerlistnews {
  margin-top: 40px;
}
/* E-paper */
.E-paper {
  padding-bottom: 20px;
  border-bottom: 1px solid #ebebeb;
}
.E-paperBanner {
  background: #006c6e;
  text-align: center;
  padding: 7px;
}
.E-paper h5 {
  color: #fff;
  font-size: 18px;
}
/* .MagazineArea .magezineImg {
  height: 355px;
  overflow: hidden;
} */
.magezineImg img {
  padding-bottom: 10px;
}
.E-paperAds {
  padding-top: 270px;
}
/* Internation */

/* Opinion section */
.opinion-section {
  border-top: 1px solid #b9b9b9;
  border-bottom: 4px double #b9b9b9;
}
.opinion-topSection .title {
  font-size: 16px;
  font-family: "Lora", serif;
  margin-bottom: 0;
  line-height: 1.5;
  letter-spacing: -0.3px;
  font-weight: 600;
}
.opinion-topSection .brief-line {
  position: relative;
  border-top: 1px solid #e2e2e2;
  margin-top: 10px;
}
.opinion-topSection .brief-line::after {
  bottom: 0px;
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  width: 40px;
  background-color: #006c6e;
  top: -2px;
}
/* .opinion-section h3 {
  color: #006c6e;
  font-size: 17px;
  line-height: 26px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  text-transform: uppercase;
} */
.opinion-section i {
  color: #006c6e;
  position: relative;
  top: 2px;
  padding-left: 5px;
}
.opinion-topSection .BordBottom {
  border-bottom: 1px solid #ebebeb;
  margin-left: 0;
}
.opinion-topSection .desc i {
  font-size: 14px;
  padding-right: 8px;
  color: #006c6e;
}
.imgRadius img {
  border-radius: 50%;
}
.Ads {
  padding: 20px 0 0;
  margin-top: 20px;
  border-top: 1px solid #ebebeb;
}
/* বাংলা  */
.bangla-heading .title {
  font-size: 30px;
  color: #ebebeb;
  font-family: "SolaimanLipi", serif;
  font-weight: 500;
  line-height: 30px;
}
.bangla-heading {
  background: #006c6e;
  text-align: center;
  padding: 6px 10px 1px 10px;
}

.lead-news {
  padding: 8px 0;
  border-bottom: 1px solid #ebebeb;
}
.lead-newslist .title {
  font-size: 17px;
  font-weight: 600;
  line-height: 1.5;
}
.bangla-desc h2 {
  font-size: 16px;
  font-family: "SolaimanLipi", serif;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #555;
  font-weight: 400;
  letter-spacing: -0.3px;
  margin-top: 0;
  line-height: 1.5;
}
.bangla-desc .title:hover {
  color: #006c6e;
}
/* সর্বশেষ */
.sorbosesh-heading {
  background: #006c6e;
  color: #ebebeb;
  text-align: center;
  padding: 0px 0px 2px;
}
.sorbosesh-heading h3 {
  color: #ebebeb;
  font-size: 16px;
  line-height: 22px;
  padding-top: 10px;
}
.sorbosesh-heading i {
  color: #ebebeb;
  font-size: 17px;
}
.sorbosesh-list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 350px;
  overflow: auto;
  border-left: 1px solid #e2e2e2;
}
.sorbosesh-list li {
  padding: 6px 8px 6px;
  border-bottom: 1px solid #e2e2e2;
}
.sorbosesh-list li p {
  font-size: 15px;
}

/* Ads image */
.ads-news-section {
  background-color: #eff5f4;
  padding: 50px 0;
  margin: 50px 0;
}
.image-height {
  height: 253px;
}
/* Business */
.area-section .title h2 {
  font-size: 20px;
}
/* TREADING NEWS */
.treading-title h2 {
  font-size: 20px;
  color: #222;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  line-height: 29px;
  padding-left: 2px;
  text-transform: uppercase;
}
.treading-title .treading-Border::before {
  position: absolute;
  content: "";
  width: 100%;
  border-top: 4px solid #006c6e;
  top: 10px;
  display: inline-block;
  margin-left: 20px;
  transform: skewX(-66deg);
}
.treading-title .treading-Border::after {
  position: absolute;
  content: "";
  width: 100%;
  border-top: 4px solid #006c6e;
  top: 18px;
  display: inline-block;
  margin-left: 20px;
  transform: skewX(-71deg);
}
.treading-count span {
  font-size: 50px;
  line-height: 50px;
  color: #006c6e;
  font-weight: bold;
}
.treading-bottom {
  border-bottom: 1px solid #ebebeb;
  margin-top: 4px;
}
.treading-list .treading-count {
  min-width: 45px;
}
.treading-list {
  padding-bottom: 25px;
}
.treading-list .title {
  min-height: 77px;
}
/* Footer */
.Footer-top {
  background-color: #eee;
  padding: 10px 0;
  border-top: 2px solid #006c6e;
  border-bottom: 2px solid #006c6e;
}
.ChiefName p {
  font-size: 17px;
  line-height: 0.5;
  font-weight: 400;
  display: block;
}
.Footer-body {
  background-color: #eee;
  padding: 30px 0;
}
.footerlink li {
  padding: 5px 0;
}
.footerlink li a {
  color: #222;
  text-decoration: none;
}
.list1 {
  padding-left: 2px;
}
.list4 {
  margin-left: -66px;
}
.contact-address p {
  white-space: nowrap;
  line-height: 10px;
}
.Footer-bottom {
  padding: 15px 0;
  background: #212529;
  margin-bottom: 30px;
}
.Footer-bottom p {
  color: #f0f0f0;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 0;
}
/* Marquee slider */
.scrollheading {
  background: #006c6e;
  width: 140px;
  height: 35px;
}
.scrollheading p {
  font-size: 15px;
  color: #222;
  font-weight: 400;
  letter-spacing: -0.3px;
}
.scroll-section {
  z-index: 9999;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background: #2a2a2a;
  color: #fff;
  font-size: 18px;
  width: calc(100% - 150px);
  padding: 0 0px;
}
span {
  padding-right: 25px;
  display: inline-block;
  margin-top: 5px;
  font-size: 17px;
  color: #fff;
  font-weight: 400;
}
.circle-icon {
  color: #fff;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #fff;
  margin-right: 3px;
  border-radius: 50%;
}

/* bangladesh latest news */
.bangladesh-title {
  border-top: 1px solid #b9b9b9;
  border-bottom: 4px double #b9b9b9;
}
.bangladesh-title h3 {
  font-size: 17px;
  font-weight: bold;
  color: #006c6e;
  line-height: 22px;
}
.bd-news-area {
  font-size: 19px;
  line-height: 27px;
  color: #000;
  font-weight: bold;
}
.bd-news-area:hover {
  color: #006c6e;
}
.icon-bd {
  margin-top: 14px;
}
.bd-bottom {
  border-bottom: 1px solid #b9b9b9;
  margin-top: 20px;
}
/* photo-video */
/* photo */
.button-left {
  margin-left: 0px;
  background: #006c6e;
  width: 5%;
  top: 44%;
  bottom: 44%;
}
.button-right {
  margin-right: 0px;
  background: #006c6e;
  width: 5%;
  top: 44%;
  bottom: 44%;
}
/* Entertainment */
.entertainment-area title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* photo-video section */
/* photo */
.photo-icon {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  left: 50%;
  top: 36%;
  border-radius: 50%;
  background-color: #a02ac18f;
  border-radius: 50%;
}
.photo-icon i {
  color: #fff;
  font-size: 23px;
  font-weight: 400px;
  margin: 16px 3px 0px 16px;
}
.photo-section .carousel-section {
  background-color: #1c1c1cd6;
  color: #fff;
  padding: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
.photo-section .carousel-section .title {
  font-size: 20px;
}
.bazarIcon {
  margin-left: -29px;
}
.bazar-list-area .iconresize .photo-icon {
  left: 52%;
  top: 19%;
  width: 3rem;
  height: 3rem;
}
.bazar-list-area .iconresize .photo-icon i {
  margin: 13px 0 0 17px;
  font-size: 20px;
}
.BazarList {
  border-top: 1px solid #ebebeb;
}
.BazarList .photo-icon {
  left: 34%;
  top: 29%;
}
.BazarList .photo-icon i {
  font-size: 22px;
  margin: 16px 3px 0px 20px;
}
.paikariBazar .photo-icon i {
  margin: 16px 3px 0px 21px;
}
.bazar img {
  height: 230px;
}
.bazar-news .desc h2 {
  font-family: "Lora", serif;
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 1.5;
  letter-spacing: -0.3px;
  font-weight: 600;
}
.bazar-bottom-news .desc p {
  font-size: 15px;
  line-height: 23px;
  color: #555;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Barlow", sans-serif;
  padding-top: 5px;
}
/* Sports section */
.sports-area {
  border-bottom: 1px solid #ebebeb;
}
.area-section .desc h5 {
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
}
.sports-area .title {
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
}

.marginTop {
  margin-top: -4px;
}
/* Science and it */
.sci-it-img {
  position: relative;
  margin-top: 10px;
}

.sci-it-img .imgviewer::after {
  background-image: linear-gradient(180deg, transparent, transparent 50%, #000);
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.sci-it-img .desc {
  width: 100%;
  bottom: 0;
  position: absolute;
  z-index: 10;
}
.sci-it-img h3 {
  color: #fff;
}
.sci-it-img .desc h2 {
  font-family: "Lora", serif;
  margin-bottom: 0;
  font-size: 17px;
  line-height: 1.5;
  letter-spacing: -0.3px;
  font-weight: 600;
}

/* .carousel-section h3 {
  font-size: 20px;
  margin-top: 40px;
  font-weight: 600;
  line-height: 26px;
  padding: 0 4px 1px 5px;
  color: #fff;
} */
.photo-area .desc h3 {
  color: #fff;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}
.photo-area .photo-title {
  background-color: #1c1c1cd6;
  color: #fff;
  padding: 7px;
}
/* Footer ads */
.footer-ads {
  position: fixed;
  bottom: 35px;
  height: 40px;
  left: 0;
  right: 0;
  background: #f0f0f054;
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
  z-index: 9999;
}
.foot-ads-section {
  margin: 0 auto;
  padding: 0;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
}
.foot-ads-section i {
  position: absolute;
  top: -20px;
  right: -15px;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  background-color: red;
  width: 35px;
  height: 35px;
  opacity: 0.6;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
.foot-ads-section i:hover {
  color: #000;
  background-color: red;
  opacity: 1;
}

/* back to top */
.gotoTop {
  position: fixed;
  bottom: 80px;
  right: 40px;
  cursor: pointer;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  z-index: 999;
  background: #006c6e;
  display: block;
  font-size: 25px;
  color: #fff;
  border-radius: 3px;
}
